/* Wrapper  */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.entry-content a {
  text-decoration: underline;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.strikethrough {
  position: relative;
}

.strikethrough::before {
  color: red;
  position: absolute;
  content: '';
  left: 0;
  top: 45%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* Animation */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Helpers */
.is-scroll {
  overflow: scroll;
}
.is-radius {
  border-radius: 5px;
}

/* Base: Size  */
$size-base: 1rem;
$body-line-height: 1.7;
$default-padding: $size-base * 1.5;
$body-weight: $weight-light;

/* Side Filter */
$sidebar-box-shadow: none;
$sidebar-width: 400px;

/* Base color */
$base-color: #2e323a;
$base-color-light: #f1f2f2;

// Add pourtoi color
$pourtoi: hsl(22, 61%, 77%);
$pourtoi-light: hsla(22, 61%, 77%, 0.1);

/* General overrides */
// #e8ba9f
$primary: $pourtoi;
$primary-light: $pourtoi-light;
$body-background-color: $white;
$link: $grey-dark;
$link-hover: $black-bis;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$border: $base-color-light;
$radius-large: 0.5rem;
$navbar-height: 3.25rem;
$skeleton-border-radius: 0.5rem;
$toast-border-radius: $radius;

// Setup $colors to use as bulma classes
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
    $primary-light,
    $primary-dark,
  ),
  'link': (
    $link,
    $link-invert,
    $link-light,
    $link-dark,
  ),
  'info': (
    $info,
    $info-invert,
    $info-light,
    $info-dark,
  ),
  'success': (
    $success,
    $success-invert,
    $success-light,
    $success-dark,
  ),
  'warning': (
    $warning,
    $warning-invert,
    $warning-light,
    $warning-dark,
  ),
  'danger': (
    $danger,
    $danger-invert,
    $danger-light,
    $danger-dark,
  ),
);

/* NavBar: Bulma override */
$navbar-item-color: $grey-dark;
$navbar-item-hover-color: $black-bis;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-divider-border: 1px solid $base-color-light;
$navbar-item-h-padding: $default-padding * 0.75;
$navbar-avatar-size: 1.75rem;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * 0.5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: $link;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $black-ter;
$menu-item-active-background-color: transparent;

/* Aside: specifics */
$aside-width: $size-base * 14;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * 0.95;
$aside-box-shadow: 1px 0 $base-color-light;
$aside-background-color: $white;
$aside-tools-background-color: transparent;
$aside-tools-color: $black-ter;
$aside-dropdown-background-color: transparent;

/* Title Bar: specifics */
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;

/* Hero Bar: specifics */
$hero-bar-background: transparent;

/* Table: Bulma override */
$table-cell-border: 1px solid $white;

/* Table: specifics */
$table-cover-size: $size-base * 2.5;
$table-cover-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid $base-color;

/* Overlay: specifics */
$overlay-background-color: rgba($white, 0.85);

/* Modal card: Bulma override */
$modal-z: 60;
$modal-background-background-color: $overlay-background-color;
$modal-card-head-background-color: $white;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;

/* Modal card: specifics */
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white;

/* Notification: Bulma override */
$notification-background-color: $white;
$notification-padding: $default-padding * 0.75 $default-padding;

/* Progress: Bulma override */
$progress-bar-background-color: transparent;

/* Icon: specifics */
$icon-update-mark-size: $size-base * 0.5;
$icon-update-mark-color: $info;

/* Slider: Buefy override */
$slider-track-background: transparent;

/* Status/State colors (based on Bulma's) */
$state-colors: ('primary', $turquoise, $white), ('info', $cyan, $white),
  ('success', $green, $white), ('warning', $yellow, $grey-darker),
  ('danger', $red, $white), ('dark', $grey-darker, $white),
  ('white', $white, $black-ter);

/* Dark Mode */
$dark-mode-background-color: $black-ter;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-color: $white-ter;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: $grey-darker;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $cyan;
$dark-mode-link-active-color: $white-ter;
$dark-mode-link-hover-color: $white-bis;
$dark-mode-overlay-background-color: rgba($black, 0.85);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;
